logs
*.log

node_modules

__pycache__/
*.pyc

.idea/

*~

public/js/application/deps.js
public/production/css/*
public/production/js/*
public/js/application/Views/*
tools/mappings/renaming_map.js


!.keepMe
