@import url('Library/editor/button.css');
@import url('Library/editor/dialog.css');
@import url('Library/editor/linkdialog.css');
@import url('Library/bubble.css');
@import url('Library/colormenubutton.css');
@import url('Library/colorpalette.css');
@import url('Library/common.css');
@import url('Library/dialog.css');
@import url('Library/editortoolbar.css');
@import url('Library/linkbutton.css');
@import url('Library/menu.css');
@import url('Library/menuitem.css');
@import url('Library/menuseparator.css');
@import url('Library/palette.css');
@import url('Library/tab.css');
@import url('Library/tabbar.css');
@import url('Library/toolbar.css');
@import url('Library/datepicker.css');
@import url('Library/inputdatepicker.css');
@import url('Library/checkbox.css');

.adminControlPanel #tabContent { margin: 20px auto 0; width: 75%; }
.adminControlPanel #postForm .inputContainer.description { max-width: 697px; }
.adminControlPanel #postForm .inputContainer.description #descriptionText { width: 100%; }

