{namespace MICO.Views.About autoescape="false"}


/**
 * Index and comic page template
 * @param? params Archive array object
 */
{template .pageContents}
    <div class="aboutContentContainer">
        <h2 class="aboutTitle">{$params.title}</h2>
        <div class="aboutDescription">{$params.description}</div>
    </div>
{/template}
