{namespace MICO.Views.About autoescape="false"}


/**
 * Index and comic page template
 * @param? params Archive array object
 */
{template .pageContents}
    <div class="{css aboutContentContainer}">
        <h2 class="{css aboutTitle}">{$params.title}</h2>
        <div class="{css aboutDescription}">{$params.description}</div>
    </div>
{/template}
